*{
    padding:0;
    margin:0;
}
.hotPotType{
    width: 2000px;
    display: flex;
    margin:auto;
    background-color: aqua;
}
.hotPotType .item{
    width: 100%;
    text-align: center;

}
.hotPotType button{
    border:none;
}