@charset "UTF-8";
*{
    padding:0;
    margin:0;
}
.title{
	font-size:100px;
	color:red;
}
.hotPotType{
    width: 2000px;
    display: flex;
    margin:auto;
}
.hotPotType .item{
    width: 100%;
    text-align: center;

}
.hotPotType button{
    border:none;
}