@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
body{
    background-size: 100%;
}

.body1 img{
    width: 100%;
    height: 800px;
}
.introTitle{
    text-align: center;
    font-size: 100px;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    margin:20px 0px;
}
.introduce{
    width: 100%;
    display: flex;    
}
.introduce .context{
    text-align: center;
    margin:auto;
}
.context p{
    margin:20px 0px;
}
.ifra{
    width:90%;
    margin: auto;
}
.ifra iframe{
    margin:20px 0px;
}

.nav{
    background-color:black;
    height: 80px;
    /*display:flex;*/
    
}
.nav img{
    margin-left: 50px;
    height: 80px;
    
}
.nav h3{
    color: white;
}
.nav a{
    text-decoration: none;
    font-family:'DFKai-sb';
    font-size: 40px;
    color:white;
    float: right;
    margin:20px 20px 10px;
}
a:hover
{
    color: red;
}
address a{
    text-decoration: none;
}
.con{
    display:flex;
    margin: 50px 130px 50px;
}
.con table{
    width: 40%;
    color:gray;
    font-family: "DFKai-sb";
    font-size:40px;

}
.con iframe{
    width: 60%;
    margin:0px 10px;
}